@model FlightsManager.DataTransferObjects.Entities.Flights.FlightSaveDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Flight</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AirportFrom, "From", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AirportFrom, (IEnumerable<SelectListItem>)ViewBag.Airports, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AirportFrom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AirportTo, "To", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AirportTo, (IEnumerable<SelectListItem>)ViewBag.Airports, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AirportTo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Aircraft, "Aircraft", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Aircraft, (IEnumerable<SelectListItem>)ViewBag.Aircrafts, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Aircraft, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
